html,
body {
  margin: 0;
  min-height: 100vh;
  overflow: auto;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.cell {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  pointer-events: inherit;
}

.cell div {
  width: 100%;
  height: 100%;
}

.round-top,
.round-bottom,
.round-left,
.round-right,
.mid {
  background-color: black;
  width: 100%;
  height: 100%;
}

.round-top {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.round-bottom {
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.round-left {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.round-right {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.row {
  display: flex;
  pointer-events: inherit;
}

.destroyed {
  width: 100%;
  height: 100%;
  position: relative;
}

.destroyed::before {
  content: '';
  transform: rotateY(0deg) rotate(45deg);
  position: absolute;
  background-color: red;
  height: 28px;
  width: 6px;
  left: 11px;
}

.destroyed:after {
  content: '';
  transform: rotateY(0deg) rotate(45deg);
  position: absolute;
  background-color: red;
  height: 6px;
  width: 28px;
  top: 11px;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.game-boards-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
  margin: 32px 0px;
}

.success {
  background-color: rgb(18, 223, 18);
  border-radius: 0px;
}

.ship {
  margin: 8px 0px;
  display: flex;
}

.ship-part {
  width: 30px;
  height: 30px;
}

.vertical {
  flex-direction: column;
}

.start,
.reset {
  margin: 8px 0px;
  padding: 8px 16px;
  font-size: 16px;
}

.action-buttons-section {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.drag-ships {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.instructions {
  font-size: 20px;
  color: rgb(0, 131, 131);
}

.error {
  font-size: 20px;
  color: rgb(184, 25, 25);
}

header {
  font-size: 30px;
}

footer {
  font-size: 20px;
}

section {
  font-size: 22px;
}

section,
article {
  flex: 0 0 auto;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

form div {
  padding: 8px;
}

footer,
header {
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: cadetblue;
}

.hidden {
  display: none;
}
