html,
body {
  margin: 0;
  min-height: 100vh;
  overflow: auto;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 16px;
}

.cell {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  pointer-events: inherit;
}

.cell div {
  width: 100%;
  height: 100%;
}

.round-top,
.round-bottom,
.round-left,
.round-right,
.mid {
  background-color: black;
  width: 100%;
  height: 100%;
}

.round-top {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.round-bottom {
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.round-left {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.round-right {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.row {
  display: flex;
  pointer-events: inherit;
}

.destroyed {
  width: 100%;
  height: 100%;
  position: relative;
}

.destroyed::before {
  content: '';
  transform: rotateY(0deg) rotate(45deg);
  position: absolute;
  background-color: red;
  height: 28px;
  width: 6px;
  left: 11px;
}

.destroyed:after {
  content: '';
  transform: rotateY(0deg) rotate(45deg);
  position: absolute;
  background-color: red;
  height: 6px;
  width: 28px;
  top: 11px;
}

main {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.success {
  background-color: rgb(18, 223, 18);
  border-radius: 0px;
}
